<div class="container">
  <div class="well user-profile-block">
  <div class="row">
        <div class="col-md-3 text-center">
          <% if !@user.avatar %>
            <%= image_tag 'pepe.png', class:"avatar-show-img" %>
          <% else %>
            <%= image_tag @user.avatar.url, class:"avatar-show-img" %>
          <% end %>
          </br>
          </br>
          <% if @user == current_user %>
            <%= link_to 'Edit Profile', edit_user_path(@user) %>
          <% end %>
          <div class="well white-bg scoreboard">
            <h4 class="text-center">Scoreboard</h4>
            <hr class="hr-index">
            <div class="text-left">
              <p>Article Count: <%= @user.articles.count %></p>
              <p>Comment Count: <%= @user.comments.count %></p>
              <p>Upvote Count: 0</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
        <h1><%= @user.username %> <span><%= image_tag user_trophy_icon, class: "show-user-trophy-icon" %></span></h1>
        <hr>
          <div class="well description-block">
            <h3>Bio</h3>
            <p><%= @user.description %></p>
          </div>
          <div class="well description-block">
            <h3>Articles</h3>
            <% if @user_articles.count >= 1 %>
              <% @user_articles.each do |article| %>
                <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="well">
                    <div class="article-title">
                      <%= link_to article.title, article_path(article) %>
                    </div>
                    <div class="article-meta-details">
                      <%= truncate(article.description, length: 100) %>
                    </div>
                    <div class="article-meta-details">
                      <small>Created by: <%= article.user.username if article.user%>,
                      <%= time_ago_in_words(article.created_at) %> ago
                      </small>
                    </div>
                    <% if logged_in? && (current_user == article.user || current_user.admin?) %>
                      <div class="article-actions">
                        <%= link_to 'Edit this article', edit_article_path(article), class: 'btn btn-xs btn-primary' %>
                        <%= link_to 'Delete this article', article_path(article), method: :delete, 
                                                data: {confirm: "Are you sure you want to delete the article?"}, 
                                                class: 'btn btn-xs btn-danger' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
                <% end %>
            <% else %>
              <p class="text-center">This user has no articles. </p>
            <% end %>
          </div>
      </div>

    </div>
  </div>
</div>
