<div class="container">
  <div class="well">
  <div class="row">
        <div class="col-md-3 text-center">
          <% if !@user.avatar %>
            <%= image_tag 'pepe.png', class:"avatar-show-img" %>
          <% else %>
            <%= image_tag @user.avatar.url, class:"avatar-show-img" %>
          <% end %>
        </div>
        <div class="col-md-6">
        <h1><%= @user.username %> <span><%= image_tag user_trophy_icon, class: "show-user-trophy-icon" %></span></h1>
          <div class="well profile-block">
            <h3>Bio</h3>
            <p><%= @user.description %></p>
          </div>
          <div class="well profile-block">
            <h3>Articles</h3>
            <% if @user_articles.count >= 1 %>
              <% @user_articles.each do |article| %>
                <div class="col-md-10 col-md-offset-2">
                  <div class="well">
                    <h2><%= link_to article.title, article_path(article) %></h2>
                    <p><%= article.description %></p>
                  </div>
                </div>
                <% end %>
            <% else %>
              <p class="text-center">This user has no articles. </p>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
