<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <strong><h1 align="center">Categories Page</h1></strong>
        <p align="center"><%= link_to "Create a New Category", new_category_path %></p>
        <% @categories.each do |category| %>
            <div class="well">
                <strong>Category: </strong>
                <%= category.name %> </br></br>
                <%= link_to "Edit Category", edit_category_path(category), class: 'btn btn-warning btn-xs' %>
                <%= link_to "Show Category", category_path(category), class: 'btn btn-primary btn-xs' %>
                <%= link_to "Delete Category", category_path(category), class: 'btn btn-danger btn-xs', 
                             method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
        <% end %>
    </div>
</div>